# Node/Bun dependencies
node_modules/

# Prisma
prisma/migrations/
*.db
migration_lock.toml
# Environment variables
.env
# Build outputs (por si usas TypeScript o herramientas de compilación)
dist/
build/
*.tsbuildinfo

# Logs
*.log

# IDE/editor configs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Archivos innecesarios para el control de versiones
npm-debug.log*
yarn-debug.log*
yarn-error.log*
